<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="model_file" 	default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" />

        <node pkg="osrt_ros" type="vis_id" 	name="id_visualization" output="screen" >
                <param name="model_file" 		value="$(arg model_file)" />
		<param name="geometry_path" 		value="/srv/data/geometry_mobl" />
		<param name="which_model_1_2" 		value="2" />

		<remap from="/id_visualization/multi_input" to="/id_node/output_multi"/>
		<remap from="/id_visualization/multi_input_filtered" to="/id_node/output_multi_filtered"/>
		<remap from="/in_labels" to="/id_node/out_labels"/>
		
		<param name="grf_right_point" 		value="calcn_r" />
		<param name="grf_left_point" 		value="calcn_l" />

        </node>
>

</launch>
