<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" default="100"/>⏎
	<arg name="run_with_imus" default="true" />
	<arg name="load_urdf_model" default="true" />
	<arg name="sto_file" default="/srv/host_data/02_ruoli/ViconData/Ruoli/Moticon_insole/RealTimekIDS2/2023-03-03-11-56-24walking012_imus_lower.sto" />
	<group ns="ik">
		<include file="$(find opensimrt_bridge)/launch/imus_from_sto.launch" if="$(arg run_with_imus)" >
			<arg name="sto_file" value="$(arg sto_file)"/>
		</include>
		
		<include file="$(find osrt_ros)/launch/ext_avg_quaternions_gait1992.launch">
			<arg name="tf_prefix" value="ik"/>
		</include>
		<node pkg="rviz" type="rviz" name="rviz2" args="-d $(find osrt_ros)/launch/test/t4.rviz"/>
		<include file="$(find osrt_ros)/launch/custom_filtered.launch" if="$(arg load_urdf_model)">
			<remap from="/joint_states" to="model_generic/joint_states"/>
			<!-- arg name="base_parent" value="subject_adds_heading"/ -->
			<arg name="base_parent" value="map"/>
			<arg name="in_labels" value="/ik/outlabels"/>
		</include>

		<include file="$(find gait1992_description)/launch/human_control_imus_movable_pipeline.launch" if="$(arg load_urdf_model)">
			<arg name="tf_prefix" value="ik"/>

		</include>

	</group>
	<include file="$(find osrt_ros)/launch/ik_lowerbody_inverted_pelvis.launch" if="$(arg run_with_imus)" >
		<arg name="tf_prefix" value="ik/" />
		<!--arg name="tf_frame_prefix" value="imu" /-->
		<remap from="/output_filtered" to="/ik/output_filtered"/>
	</include>
	
	<node pkg="tf" type="static_transform_publisher" name="t2_subject_heading" args="1 0.3 0 -0.70711 0.0 0.0 0.70711 map imu_default_frame $(arg freq)" />
	<!-- node pkg="tf" type="static_transform_publisher" name="t2_subject_heading1" args="1 0.6 0  0 0.70711 0.70711 0 map opensim_default_frame $(arg freq)" / -->
	<node pkg="tf" type="static_transform_publisher" name="t2_subject_heading1" args="1 0.6 0  0.5 0.5 0.5 0.5 map opensim_default_frame $(arg freq)" />

</launch>


