<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" default="100"/>⏎
	<arg name="run_with_imus" default="true" />
	<arg name="load_urdf_model" default="true" />
	<arg name="sto_file" default="/catkin_ws/Data/02_ruoli/ViconData/Ruoli/Moticon_insole/RealTimekIDS2/2023-03-03-11-56-24walking012_imus_lower.sto" />
	<group ns="ik">
		<node pkg="rviz" type="rviz" name="rviz2" args="-d $(find osrt_ros)/launch/test/t_4/t4.rviz"/>

	</group>
	
	<node pkg="tf" type="static_transform_publisher" name="t2_subject_heading" args="1 0.3 0 -0.70711 0.0 0.0 0.70711 map imu_default_frame $(arg freq)" />
	<!-- node pkg="tf" type="static_transform_publisher" name="t2_subject_heading1" args="1 0.6 0  0 0.70711 0.70711 0 map opensim_default_frame $(arg freq)" / -->
	<node pkg="tf" type="static_transform_publisher" name="t2_subject_heading1" args="1 0.6 0  0.5 0.5 0.5 0.5 map opensim_default_frame $(arg freq)" />

</launch>


