<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="load_urdf_model" default="true" />
	<arg name="show_rviz"   default="true"/>
	<group ns="ik">
		<include file="$(find gait1992_description)/launch/human_control_imus_movable_pipeline.launch" if="$(arg load_urdf_model)">
			<arg name="tf_prefix" value="ik"/>
			<arg name="show_rviz"   value="$(arg show_rviz)"/>

		</include>

	</group>
</launch>


