<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<launch>
	<include file="$(find ximu3_ros)/launch/show_urdf_posable.launch"/>

	<include file="$(find osrt_ros)/launch/test/test_heading/ext_test.launch">
		<arg name="imu_body" value="ximu3_test"/>
		<arg name="is_base_body" value="true"/>

	</include>


</launch>

