<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<!-- arg name="model_file" 	default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" / -->
	<arg name="model_file" 	default="/srv/host_data/FK scaled model.osim" />
        <node pkg="osrt_ros" type="agrf" 	name="agrf_node" output="screen">
                <param name="model_file" 		value="$(arg model_file)" />
		<rosparam command="load" file="$(find osrt_ros)/config/grf.yaml"/>
		<rosparam command="load" file="$(find osrt_ros)/config/grf_identifiers.yaml"/>
		
		<!--	PLUS ADDITIONAL PARAMETER WHICH ARE SPECIFIC TO EACH TYPE OF DETECTOR	 -->
		<rosparam command="load" file="$(find osrt_ros)/config/agrf.yaml"/>

		<remap from="/agrf_node/input_filtered" to="/ik/output_filtered"/>
		<remap from="/in_labels" to="/ik/out_labels"/>
        </node>

</launch>
