<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<!-- arg name="model_file" 	default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" / -->
	<arg name="model_file" 	default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" />
	<node pkg="osrt_ros" type="cgrf" 	name="cgrf_node" output="screen">
		<!-- param name="resample_period" 		value="0.01" / -->
		<param name="model_file" 		value="$(arg model_file)" />
		<rosparam command="load" file="$(find osrt_ros)/config/grf.yaml"/>

		<!-- Filter values for filtering ik in cases where we don't use the filtered input -->
		<rosparam command="load" file="$(find osrt_ros)/config/filter.yaml"/>

		<!--	PLUS ADDITIONAL PARAMETER WHICH ARE SPECIFIC TO EACH TYPE OF DETECTOR	 -->


		<remap from="/cgrf_node/input" to="/ik/output"/>
		<remap from="/in_labels" to="/ik/out_labels"/>
	</node>

</launch>
