<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="tf_prefix" default=""/>
	<arg name="parent_frame" default="map"/>
	<arg name="run_as_service" default="true"/>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin"  	value="[0.0,-0.12,0.27]"/>
		<arg name="imu_body" value="torso"/>
		<arg name="heading" value="[0.0,0.0,-1.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[0.0,-0.2,0.0]"/>
		<arg name="imu_body" value="pelvis"/>
		<arg name="is_base_body" value="true"/>
		<arg name="heading" value="[0.0,0.0,-1.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[0.08,0.0,-0.02]"/>
		<arg name="imu_body" value="femur_r"/>
		<arg name="heading" value="[0.0,1.0,0.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[-0.08,0.0,-0.02]"/>
		<arg name="imu_body" value="femur_l"/>
		<arg name="heading" value="[0.0,-1.0,0.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[0.06,0.0,-0.35]"/>
		<arg name="imu_body" value="tibia_r"/>
		<arg name="heading" value="[0.0,1.0,0.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[-0.06,0.0,-0.35]"/>
		<arg name="imu_body" value="tibia_l"/>
		<arg name="heading" value="[0.0,-1.0,0.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[0.01,0.12,-0.01]"/>
		<arg name="imu_body" value="talus_r"/>
		<arg name="heading" value="[1.0,0.0,0.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
	<include file="$(find osrt_ros)/launch/ext_quat_avg.launch">
		<arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="origin" 	value="[-0.01,0.12,-0.01]"/>
		<arg name="imu_body" value="talus_l"/>
		<arg name="heading" value="[1.0,0.0,0.0]"/>
		<arg name="run_as_service" value="$(arg run_as_service)"/>
		<arg name="parent_frame" value="$(arg parent_frame)"/>
	</include>
</launch>
