<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="imu_body" 	default="pelvis"/>
	<arg name="prefix" 	default="/ik_lowerbody_node"/>
	<arg name="origin" 	default="[0.0,0.0,0.0]"/>
	<arg name="tf_prefix" default=""/>
	<arg name="is_base_body" default="false"/>
	
	<arg name="heading" 	default="[0.0,0.0,-1.0]"/>
	<arg name="run_as_service" default="true"/>
	<arg name="parent_frame" 	default="map"/>

	<group ns="$(arg imu_body)">
		<node name="pose_average" type="external_average_quaternion_node" pkg="osrt_ros" output="screen">
			<param name="origin"        type="yaml" value="$(arg origin)" />
			<param name="imu_raw" value="imu/$(arg imu_body)" />

			<!-- these 2 parameters are for showing the imu in the urdf correctly -->
			<param name="imu_cal_frame" value="$(arg tf_prefix)/$(arg imu_body)_imu" />
			<param name="imu_ref_frame" value="$(arg tf_prefix)/$(arg imu_body)" />
			<remap to="/ik/heading_angle"					from="/heading_angle"/>
			<param name="heading_ref_frame" value="subject_heading" />
			<param name="heading_pub_frame" value="subject_heading3" />
			<!-- for positioning AR markers -->
			<param name="use_marker_origin" value="false" />
		</node>
		<node pkg="osrt_ros" type="wth_node" name="wtfh" output="screen" if="$(arg is_base_body)">
		<!--node pkg="osrt_ros" type="wth_node" name="wtfh" output="screen" -->
		<!--node pkg="osrt_ros" type="wth_node" name="wtfh" if="$(arg is_base_body)" -->
			<param name="imu_base_measured_frame" value="imu/$(arg imu_body)_0"/>
			<!--param name="parent_frame" value="map"/ -->
			<param name="parent_frame" value="$(arg parent_frame)"/>
			<param name="heading_frame" value="subject_heading"/>
			<param name="negative_heading_frame" value="subject_negative_heading"/>
			<rosparam param="origin">[0,0,0]</rosparam>	
			<param name="heading"    type="yaml" value="$(arg heading)" />
			<rosparam param="opensim_heading">[1,0,0]</rosparam>	
			<remap to="/ik/$(arg imu_body)/heading_angle"					from="/heading_angle"/>
			<!-- FFS there is a -90 degree offset now for some reason, but to make it work, we are going to need to set it to zero and fix this in code! -->
			<!-- param name="angle_offset" value="-90"/ -->
			<param name="angle_offset" value="0"/>
			<param name="flip_sign" value="false"/>
			<param name="bypass_everything" value="false"/>
			<param name="angle_manual" value="0"/>
			
			<param name="run_as_service" value="$(arg run_as_service)"/>

			<param name="is_base_body" value="$(arg is_base_body)"/>
		</node>
	</group>
</launch>


