<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="imu_body" 	default="pelvis"/>
	<arg name="prefix" 	default="/ik_lowerbody_node"/>
	<arg name="origin" 	default="[0.0,0.0,0.0]"/>
	<arg name="tf_prefix" default=""/>

	<node name="pose_average_$(arg imu_body)" type="external_average_quaternion_node" pkg="osrt_ros" output="log">
		<param name="origin"        type="yaml" value="$(arg origin)" />
		<param name="imu_cal_frame" value="$(arg tf_prefix)$(arg imu_body)_imu" />
		<param name="imu_ref_frame" value="$(arg tf_prefix)$(arg imu_body)" />
		<remap to="$(arg prefix)/$(arg imu_body)/imu_cal"					from="/imu_cal"/>
		<remap to="$(arg prefix)/$(arg imu_body)/avg_pose"					from="/avg_pose"/>
	</node>
</launch>


