<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="model_file" 			default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" />
	<arg name="get_second_label" 		default="true"/>
	<arg name="left_foot_tf_name" 		default="left_foot_forceplate" />
	<arg name="right_foot_tf_name" 		default="right_foot_forceplate" />
	<arg name="use_exact_sync"		default="false"/>
	<arg name="max_buffer_length"		default="100"/>
	<arg name="ik_delay"			default="0.26"/>
	<!-- If no_rotation is true then I will neglect the reference rotation transformation -->
	<arg name="grf_no_rotation"		default="true"/>
<arg name="visualise" 				default="true" />

        <node pkg="osrt_ros" type="id_async" 	name="id_node" output="screen">
                <param name="model_file" 		value="$(arg model_file)" />
                <param name="get_second_label" 		value="$(arg get_second_label)" />
		<param name="left_foot_tf_name"		value="$(arg left_foot_tf_name)" />
		<param name="right_foot_tf_name"	value="$(arg right_foot_tf_name)" />
		<!-- each grfm may have its own frame of reference! -->
		<!-- ground :== subject_opensim. maybe we need to change the names to make it more sensible. -->
		<param name="left_reference_frame"        value="ik/subject_opensim_other"/>
		<param name="right_reference_frame"        value="ik/subject_opensim_other"/>
		<param name="use_exact_sync"		value="$(arg use_exact_sync)"/>
		<remap from="/id_node/input_filtered" 		to="/ik/output_filtered"/>
		<remap from="in_labels" 			to="/ik/out_labels"/>
		<remap from="out_labels" 			to="/id_node/out_labels"/>
		<remap from="output_multi" 			to="/id_node/output_multi"/>
		<remap from="/id_node/input2" 	to="/grf_node/output"/>
		<remap from="/in_labels2" 	to="/grf_node/out_labels"/>
		
		<remap from="/id_node/left/wrench" 	to="/left/wrench_filtered"/>
		<remap from="/id_node/right/wrench" 	to="/right/wrench_filtered"/>
		
		<rosparam command="load" file="$(find osrt_ros)/config/grf_identifiers.yaml"/>
		
		<!-- Filter values for filtering ik (and grfm, the values are currently shared) in cases where we don't use the filtered input -->
		<rosparam command="load" file="$(find osrt_ros)/config/filter.yaml"/>
		
		<param name="run_delay/global_delay"			value="$(arg ik_delay)" />
		<param name="max_buffer_length"		value="$(arg max_buffer_length)" />

		<!-- TODO: if I really want to generalize the number of wrenches i also need to change how async gets called-->
		<param name="left_no_rotation"			value="$(arg grf_no_rotation)"/>
		
		<param name="right_no_rotation"			value="$(arg grf_no_rotation)"/>
		

		<param name="visualise"			value="$(arg visualise)"/>

	</node>


</launch>
