<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="model_file" 			default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" />
	<arg name="get_second_label" 		default="true"/>
	<arg name="left_foot_tf_name" 		default="left_foot_forceplate" />
	<arg name="right_foot_tf_name" 		default="right_foot_forceplate" />
	<arg name="use_exact_sync"		default="false"/>
	<arg name="max_buffer_length"		default="100"/>
	<arg name="ik_delay"			default="0.26"/>
	<!-- If no_rotation is true then I will neglect the reference rotation transformation -->
	<arg name="grf_no_rotation"		default="true"/>
	<arg name="visualise" 				default="true" />

	<node pkg="osrt_ros" type="id_async" 	name="id_node" output="screen">
		<param name="model_file" 		value="$(arg model_file)" />
		<param name="get_second_label" 		value="$(arg get_second_label)" />

		<!-- this is the distal part of the tf -->
		<param name="left_foot_tf_name"		value="$(arg left_foot_tf_name)" />
		<param name="right_foot_tf_name"	value="$(arg right_foot_tf_name)" />
		
		<!-- this is the proximal part of the tf -->
		<param name="left_reference_frame"        value="ik/calcn_l"/>
		<param name="right_reference_frame"        value="calcn_r_rot"/>

		<param name="use_exact_sync"		value="$(arg use_exact_sync)"/>
		<remap from="/id_node/input_filtered" 		to="/ik/output_filtered"/>
		<remap from="in_labels" 			to="/ik/out_labels"/>
		<remap from="out_labels" 			to="/id_node/out_labels"/>
		<remap from="/id_node/input2" 	to="/grf_node/output"/>

		<remap from="/id_node/left/wrench" 	to="/left/wrench_filtered"/>
		<remap from="/id_node/right/wrench" 	to="/right/wrench_filtered"/>
		<param name="grf_right_point_identifier" 		value="ground_force_p" />
		<param name="grf_right_force_identifier" 		value="ground_force_v" />
		<param name="grf_right_torque_identifier" 		value="ground_torque_" />
		<param name="grf_right_apply_to_body" 			value="calcn_r" />
		<param name="grf_right_force_expressed_in_body" 	value="/bodyset/calcn_r" />
		<param name="grf_right_point_expressed_in_body" 	value="/bodyset/calcn_r" />

		<param name="grf_left_point_identifier" 		value="1_ground_force_p" />
		<param name="grf_left_force_identifier" 		value="1_ground_force_v" />
		<param name="grf_left_torque_identifier" 		value="1_ground_torque_" />
		<param name="grf_left_apply_to_body" 			value="calcn_l" />
		<param name="grf_left_force_expressed_in_body" 		value="/bodyset/calcn_l" />
		<param name="grf_left_point_expressed_in_body" 		value="/bodyset/calcn_l" />

		<!-- Filter values for filtering ik (and grfm, the values are currently shared) in cases where we don't use the filtered input -->
		<param name="memory" 			value="35" />
		<param name="cutoff_freq" 		value="6" />
		<param name="delay" 			value="14" />
		<param name="spline_order" 		value="3" />

		<param name="ik_delay"			value="$(arg ik_delay)" />
		<param name="max_buffer_length"		value="$(arg max_buffer_length)" />

		<!-- TODO: if I really want to generalize the number of wrenches i also need to change how async gets called-->
		<param name="left_no_rotation"			value="$(arg grf_no_rotation)"/>

		<param name="right_no_rotation"			value="$(arg grf_no_rotation)"/>


		<param name="visualise"			value="$(arg visualise)"/>

	</node>
	<node pkg="tf" type="static_transform_publisher" name="left_calcn_insole_thingy" args="0 0 0  0.0 0.707 0.707 0.0 ik/calcn_l calcn_l_rot 100" />
	<node pkg="tf" type="static_transform_publisher" name="right_calcn_insole_thingy" args="0 0 0  0.0 0.707 0.707 0.0 ik/calcn_r calcn_r_rot 100" />

</launch>
