<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" default="100" />

        <node pkg="osrt_ros" type="OnlineLowerLimb" 	name="ik_lowerbody_node" output="screen" >
		<!-- param name="resample_period" 		value="0.01" / -->
		<param name="model_file" 		value="/srv/host_data/FK scaled model.osim" />
		<!--param name="model_file" 		value="scale/model_scaled.osim" / -->
		<param name="imu_base_body" 		value="pelvis" />
		<rosparam param="imu_observation_order" >['torso','pelvis','femur_r','femur_l','tibia_r','tibia_l','talus_r','talus_l']</rosparam>

		<param name="tf_frame_prefix" 		value="imu" />
		<param name="imu_direction_axis" 		value="z" />
		<param name="imu_ground_rotation_x" 		value="-90" />
		<param name="imu_ground_rotation_y" 		value="0" />
		<param name="imu_ground_rotation_z" 		value="0" />
		<param name="rate" 				value="$(arg freq)" />
		<param name="logger_filename_ik" 		value="_ik_lower" />
		<param name="logger_filename_imus" 		value="_imus_lower" />
		<param name="data_save_dir" 		value="/tmp/tests/ik_" />
		
		<remap from="/ik_lowerbody_node/output" 		to="/ik/output"/>
		<remap from="/ik_lowerbody_node/output_filtered" 	to="/ik/output_filtered"/>
		<remap from="/ik_lowerbody_node/out_labels" 		to="/ik/out_labels"/>

		<!-- Filter values for filtered output -->
		<param name="filter_output" 		value="true" />
		<rosparam command="load" file="$(find osrt_ros)/config/filter.yaml"/>

        </node>
	<include file="$(find osrt_ros)/launch/ext_avg_quaternions_gait1992.launch"/>
</launch>

