<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" default="400" />

        <node pkg="osrt_ros" type="OnlineUpperLimb" 	name="ik_upper_node" output="screen" >
		<!-- param name="resample_period" 		value="0.01" / -->
		<param name="subject_dir" 		value="/mobl2016/" />
		<param name="model_file" 		value="mobl2016_v03.osim" />
		<param name="imu_base_body" 		value="thorax" />
		<rosparam param="imu_observation_order" >['thorax','humerus','radius']</rosparam>
		<param name="imu_direction_axis" 		value="z" />
		<param name="imu_ground_rotation_x" 		value="-90" />
		<param name="imu_ground_rotation_y" 		value="-90" />
		<param name="imu_ground_rotation_z" 		value="0" />
		<param name="rate" 				value="$(arg freq)" />
		<param name="logger_filename_ik" 		value="_ik_lower" />
		<param name="logger_filename_imus" 		value="_imus_lower" />
		<param name="data_save_dir" 		value="/tmp/test" />
		
		<!-- remap from="/agrf_node/input" to="/inverse_kinematics_from_file/r_data"/>
		<remap from="/in_labels" to="/inverse_kinematics_from_file/out_labels"/ -->
        </node>

</launch>

