<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" default="10"/>
	<!-- TODO: merge those 2 frames probably -->
	<!-- This looks like it is the correct transformation for ros to opensim -->
	<node pkg="tf" type="static_transform_publisher" name="subject_opensim_to_ros" args="0 0 0 0.5 0.5 0.5 0.5 map subject $(arg freq)" />
	<!-- include file="$(find moticon_insoles)/launch/subject_fixer.launch"> 
		<param name="body" value="subject_opensim" />
	</include -->
	<!-- This looks like it is the correct transformation for ros to opensim -->
	<node pkg="tf" type="static_transform_publisher" name="subject_opensim_to_ros2" args="0 0 0  0.5 0.5 0.5 0.5 map subject_opensim $(arg freq)" />
	<!--node pkg="tf" type="static_transform_publisher" name="subject_opensim_to_ros" args="0 0 0  0.0 0.707 0.707 0.0 map subject_opensim $(arg freq)" /-->
</launch>

